apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kafka-topics-ui
  name: kafka-topics-ui
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-topics-ui
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: kafka-topics-ui
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
      - env:
        - name: KAFKA_REST_PROXY_URL
          value: kafka-cloud-proxy.default:8082
        - name: PROXY
          value: "true"
        image: pdi/kafka-topics-ui:1.0.0
        imagePullPolicy: Always
        name: kafka-topics-ui
        ports:
        - containerPort: 8000
          protocol: TCP
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
